doctype html
html(lang="en")
    body
        p Hello,

        p Your reset password code is: #{code}

        p Please use this code to reset your password.

        p If you didn't request this code, you can safely ignore this email.

        p Thank you, 

       
